<!doctype html>
<html lang="en">
  <head>
  	<title>arang bank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/css/style.css">
	<script>
		var msg = '{{ msg }}';
		if (msg != "false"){
			alert(msg);
		} 
	</script>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">arang bank</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">간편비밀번호 등록<br>(숫자 6자리)</h3>		      	
				<form id="form1" method="POST" action="/register_simplepass" enctype="multipart/form-data" class="login-form">
							<div class="form-group">
		      			<input type="text" class="form-control rounded-left" id="simplepass1" name="simplepass1" placeholder="간편비밀번호">
		      		</div>
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" id="simplepass2" name="simplepass2" placeholder="간편비밀번호 확인">
		      		</div>
		      		<div class="form-group">
		      			<input type="hidden" class="form-control rounded-left" id="userid" name="userid" value="{{login_info['userid']}}">
		      		</div>
	            
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">등록하기</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
					</div>
					<div class="w-50 text-md-right">
						<a href="/my">마이페이지</a>
					</div>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

	</body>
</html>